<div class="sidebar" data-color="white" data-active-color="danger">
    <div class="logo">
        <a href="/<%= page %>/dashboard" class="simple-text logo-normal">
            <!-- SMHOS -->
            <div class="logo-image-big">
                <img src="/assets/logo.png">
            </div>
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <% if(user.level == 'A') { %>
                <%- include('levels/admin'); -%>
            <% }else if(user.level == 'C') { %>
                <%- include('levels/church'); -%>
            <% }else if(user.level == 'L') { %>
                <%- include('levels/leader'); -%>
            <% }else { %>
                <%- include('levels/member'); -%>
            <% } %>            
        </ul>
    </div>
</div>