<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="row">
                <div class="col-3">
                    <a href="/<%= page %>/add_church">
                        <button type="button" class="btn btn-info ml-2">Add Church</button>
                    </a>
                </div>
            </div>

            <div class="card-header">
                <h4 class="card-title">Churches</h4>
                <% if(success){ %>
                    <label style="color: green;"><%= success %></label>
                <% } %>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                            <th>Name</th>
                            <th>LGA</th>
                            <th>Country</th>
                            <th>Homecells</th>
                            <th class="text-right">View</th>
                        </thead>
                        <tbody>
                            <% if(churches.length > 0){ %>
                                <% churches.forEach(church => { %>
                                    <tr>
                                        <td><%= church.name %></td>
                                        <td><%= church.lga %></td>
                                        <td><%= church.country %></td>
                                        <td><%= church.homecells %></td>
                                        <td class="text-right">
                                            <a href="/<%= page %>/view_church/<%= church.id %>" class="btn btn-info btn-sm">view</a>
                                        </td>
                                    </tr>
                                <% }) %>
                            <% } else{ %>
                                <tr>
                                    <td colspan="3">There is no Church</td>
                                </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>