<title><%= title %></title>

<h1>Member, Dashboard</h1>

<p>Welcome, <%= user.id %></p>
<p>Welcome, <%= user.email %></p>
<p>Welcome, <%= user.password %></p>
<p>Welcome, <%= user.level %></p>

<a href="/<%= page %>/profile">Go to Profile Page</a>